<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<%= @comments.each do |comment| %>
<div class="comment">
  <p class="content"><%= comment.content %></p>
  <p class="time"><%= comment.created_at %></p>
</div>
<% end %>

<%= link_to "Home", comments_path, class: 'btn btn-default' %>
