<!DOCTYPE html>
<html>
<head>
  <title>Forgeddit</title>
  
</head>
<body>
  <div class="container">

  <h1>Forgeddit</h1>
    <%= link_to "Comments", comments_index_path %>
    <%= link_to "Users", users_path %>
    <%= link_to "Links", links_path %>

    <%= yield %>

  </div>
</body>
</html>
