<!DOCTYPE html>
<html>
<head>
  <title>Forgeddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Forgeddit</h1>

  <table>
    <tr>
      <th>Comment</th>
      <th>Summary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <div class="container">
    <%= yield %>
  </div>
  </table>

  <br>

</body>
</html>
